
<div class="main">
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des livres</span>
          <i class="fa fa-book" style="color: #f0932b;"></i>
          <span class="value"><span>2770</span></span>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des posts</span>
          <i class="fa fa-file-text" style="color: #e74c3c;"></i>
          <span class="value"><span>23K</span></span>
        </div>
      </div>
  
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL des utilisateurs</span>
          <i class="fa fa-users" style="color: #3498db;"></i>
          <span class="value"><span>49M</span></span>
        </div>
      </div>
  
      <div class="col-lg-3 col-xs-6">
        <div class="rad-info-box">
          <span class="heading">TOTAL de revenu</span>
          <i class="fa fa-money" style="color: #27ae60;"></i>
          <span class="value"><span>10.9K</span></span>
        </div>
      </div>
    </div>
  
    <!-- <div class="col-lg-3 col-xs-6">
      <div class="rad-info-box">
        <span class="heading">Nouveaux utilisateurs</span>
        <i class="fa fa-users" style="color: #3498DB;"></i>
        <span class="value"><span>49M</span></span>
      </div>
    </div> -->
</div>  